[AUTHOR]
# ACHTUNG: NAME und EMAIL identifizieren das Plugin gegenueber LoxBerry.
# Sie duerfen zwischen zwei Fassungen NIE geaendert werden, sonst haelt
# LoxBerry die neue Fassung fuer ein anderes Plugin und die Aktualisierung
# schlaegt fehl.
#
# Dieser Fork fuehrt die Arbeit von Harald Friedl (seppe912) fort. Er hat
# die Weiterentwicklung im Issue seppe912/Midea2Lox#15 ausdruecklich
# freigegeben, weil er selbst keinen LoxBerry mehr betreibt.
NAME=Midea2Lox Community
EMAIL=midea2lox@users.noreply.github.com

[PLUGIN]
# Fassung des Plugins.
VERSION=4.3.0
# Kurzname und bevorzugter Unterordner. Keine Leerzeichen, klein schreiben.
# Beides darf zwischen zwei Fassungen NIE geaendert werden.
NAME=Midea2Lox
FOLDER=Midea2Lox

# Angezeigter Name, hoechstens 25 Zeichen.
TITLE=Midea AC for Loxone

[AUTOUPDATE]
# Selbstaktualisierung einschalten.
AUTOMATIC_UPDATES=true

# Adresse der release.cfg. Ist die dort genannte Fassung neuer als die
# installierte, wird das Archiv aus der release.cfg geladen und installiert.
RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Midea2Lox/master/release.cfg

# Adresse der prerelease.cfg fuer Vorabfassungen.
PRERELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Midea2Lox/master/prerelease.cfg

[SYSTEM]
# Neustart nach der Installation noetig?
REBOOT=false

# Fassungsgrenzen von LoxBerry.
#
# LB_MINIMUM=3.0.0 aus zwei Gruenden:
#
# 1. msmart-ng verlangt Python >= 3.10. Kein LoxBerry 2 bringt das mit
#    (LoxBerry 2 = Debian 10 mit Python 3.7). Das Plugin kann dort also
#    grundsaetzlich nicht arbeiten.
# 2. Ab LoxBerry 3 ist der MQTT-Gateway Bestandteil des Systems und kein
#    Plugin mehr. Mit dieser Untergrenze entfaellt jede Fallunterscheidung
#    zwischen "Gateway-Plugin" und "Systembestandteil".
#
# Die genauere Pruefung auf die Python-Fassung macht zusaetzlich preroot.sh
# und bricht dort mit einer verstaendlichen Meldung ab.
LB_MINIMUM=3.0.0
LB_MAXIMUM=false

# Besondere Architektur noetig? Nein - das Plugin spricht ueber das Netz
# mit den Klimageraeten und benutzt keine Hardware des Rechners.
ARCHITECTURE=

# Benutzerdefinierte Protokollstufen im Plugin-Verwaltungsfenster anbieten.
CUSTOM_LOGLEVELS=true

# Schnittstellenfassung. Nicht aendern.
INTERFACE=2.0
