[AUTOUPDATE]
# Diese Datei steuert die Selbstaktualisierung. Die Adresse dazu steht in
# der plugin.cfg unter RELEASECFG.

# Fassung der neuesten Veroeffentlichung
VERSION=4.0.1

# Adresse des ZIP-Archivs
ARCHIVEURL=https://github.com/timanders22/Midea2Lox/archive/refs/tags/V4.0.1.zip

# Adresse mit weiteren Angaben zu dieser Fassung
INFOURL=https://github.com/timanders22/Midea2Lox/releases/tag/V4.0.1
